/****************************
 Arredondamento com Imagens
****************************/

.caixa {
	width: 400px;
	background: #dedede url(../images/fundo-arredondamento.png);
}

.caixa h2 {
	padding: 10px 20px 0 20px;
	background: url(../images/topo2.png) no-repeat left top;
}

.caixa p {
	padding: 0 20px;
	margin-bottom: 0;
}

.caixa .ultimo {
	background: url(../images/baixo2.png) no-repeat left bottom;
	width: 400px;
	height: 24px;
}

/*
.caixa {
	width: 400px;
	background: #dedede url(../images/topo2.png) no-repeat left top; /* topo.png
}

.caixa .ultimo {
	padding: 0 20px 20px 20px;
	background: url(../images/baixo2.png) no-repeat left bottom; /* baixo.png
}

.caixa h2 {
	padding: 10px 20px 0px 20px;
	margin-bottom: 0;
}

.caixa p {
	padding: 10px 20px 0px 20px;
}
*/