/****************************
	 ESTILIZANDO TABELAS
****************************/

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table { /*Se tiver mais tabelas com finalidades diferentes, especifique para cada tabela.*/
	width: 600px;
	border-collapse: collapse; /*Padrão: separate*/
}

th, td {
	padding: 7px;
}

th {
	text-transform: uppercase;
	border-top: 1px solid #999;
	border-bottom: 1px solid #111;
	text-align: left;
	font-size: 90%;
	letter-spacing: 0.1em;
}

tr.alternado {
	background-color: #efefef; /*#A4A4A4*/
}

tr:hover {
	background-color: #c3e6e5;
}

.numero {
	text-align-last: right;
}
